@tailwind base;
  @tailwind components;
  @tailwind utilities;



  #hero{
    background-image: url('../../public/image.jpg');
    
  }

  #cart {
    background-image: url('../../public/cart.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }

  